{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}

	<div class='container border mx-auto' style="max-width: 50%;">
		<div class="row">
			<div class='col-sm-10 col-md-8 col-10 my-5 mx-auto'>
				<form method="post">
					{% if app.session.get('account_deleted')  %}
						<div class="alert alert-danger">
							{{ app.session.get('account_deleted') }}
							{{ app.session.clear() }}
						</div>
					{% endif %}
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}

					{% if app.user %}
						<div class="mb-3">
							You are logged in as
							{{ app.user.userIdentifier }},
							<a href="{{ path('app_logout') }}">Logout</a>
						</div>
					{% endif %}

					<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
					<label for="inputUsername">Username</label>
					<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
					<label for="inputPassword">Password</label>
					<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

					<input
					type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

					{#
										        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
										        See https://symfony.com/doc/current/security/remember_me.html
										        <div class="checkbox mb-3">
										            <label>
										                <input type="checkbox" name="_remember_me"> Remember me
										            </label>
										        </div>
										    #}

					<button class="btn btn-primary mt-3 w-100" type="submit">
						Sign in
					</button>
					<div class='text-center mt-2'>Or</div>
					<a href="{{ path('app_register') }}">
						<div class="btn btn-success mt-2 w-100">
							Register now
						</div>
					</a>
				</form>
			</div>
		</div>
	</div>

{% endblock %}
