{% extends 'base.html.twig' %}

{% block title %}Hello UserPageController!
{% endblock %}

{% block body %}	

	{% for message in app.flashes('success') %}
		<div class='alert alert-success'>
			{{ message }}
		</div>
	{% endfor %}
	{% for message in app.flashes('error') %}
		<div class='alert alert-danger'>
			{{ message }}
		</div>
	{% endfor %}
	<div class="example-wrapper">
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			<div class='text-center mt-5'>
			<a href='{{ path('app_delete_account') }}' <div class='btn btn-danger'>Delete account</div></a>
			{% if myPageBool %}
				{{ form_start(editProfile) }}
					{{ form_row(editProfile.description) }}
					{{ form_row(editProfile.avatar) }}
					<button type="submit" class="btn">Save</button>
				{{ form_end(editProfile) }}
			{% endif %}
		{% endif %}
		<img src="{{ asset('users_data/' ~ userId ~ '/avatar/avatar.jpg') }}" alt="ACME logo" class="img-fluid img-thumbnail rounded" width='100px'>
		<h1>{{ username }}</h1>
		<br><br>
		<h2>My Offerts</h2>
		<br>
		<div class="d-inline-flex p-2">
		{% set count = 0 %}
		{% for product in productUser %}
			<div class="card offer-field" data-id='{{ product.id }}' style="width: 14rem; margin-right: 1rem">
				<img src="{{ asset('users_data/' ~ userId ~ '/products/' ~ files[count]['dir'] ~ '/' ~ files[count]['images'][0] ) }}" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">{{ product.name }}</h5>
					<p class="card-text">Price:
					{{ product.price }}</p>
					<a href="{{ path('app_check_product', { 'id':  product.id }) }}" class="btn btn-primary">Check product</a>
					{% if myPageBool %}
						<div data-id={{ product.id }} class="btn btn-error delete-product">Delete product</div>
					{% endif %}
						</div>
					</div>
					{% set count = count + 1 %}
				{% endfor %}
				{% if myPageBool %}
			</div><a href="{{ path('app_create_product') }}"><p class='btn btn-primary'>Add Product</p></a>
		</div>
		{{ myCartsInfo|length }}
		<br>
		<h2>My Carts</h2>
		<div class="d-inline-flex p-2">
			{% set count = 0 %}
			{% for cartInfo in myCartsInfo %}
				<div class="card" style="width: 14rem; margin-right: 1rem">
					<img src="{{ asset('users_data/' ~ myCartsDirImages[count]['id'] ~ '/products/' ~ myCartsDirImages[count]['dir'] ~ '/' ~ myCartsDirImages[count]['images'][0] ) }}" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">{{ cartInfo.name }}</h5>
							<p class="card-text">Price:
							{{ cartInfo.price }}</p>
							<a href="{{ path('app_check_product', { 'id':  cartInfo.id }) }}" class="btn btn-primary">Check product</a>
						</div>
					</div>
					{% set count = count + 1 %}
				{% endfor %}
			{% else %}
				<i class="bi bi-person-circle">ss</i>
			{% endif %}
		</div>

<script>

$(document).on('click', '.delete-product', function(){
    id = $(this).data('id');
    $.ajax({
        url: '{{ path('ajax_delete_product') }}',
        method: 'POST',
        data: {id: id},
        success: function(response)
        {
            console.log(response.id);
			$('.offer-field[data-id='+id+']').remove(); 
        }
    })
})

</script>

{% endblock %}
