{% extends 'base.html.twig' %}

{% block title %}Hello UserPageController!
{% endblock %}

{% block body %}	
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
  
        input[type=number] {
            -moz-appearance: textfield;
        }
        hr{
          margin-top: 10px;
        }
    </style>
<section>
<div id='emptySpace'></div>
{% if not (myCartsInfo) %}
<div class='container border border-info rounded py-5 my-5 text-center'>
  <h2>  You have empty cart   <i class="fas fa-cart-arrow-down"></i>  </h2>  
</div>

{% else %}

{% set lastIdOwner = 0 %}
{% set group = 0 %}
{% set groupProductsCount = 0 %}
{% set count = 0 %}
  {% for cartInfo in myCartsInfo %}
    {# Display first product #}
    {% if (count == 0 ) %}
      <div class="container border border-primary border-3 rounded p-5 my-5" data-group='{{ group }}'>
        <form action="{{ path('app_buy_now') }}" method="POST">
          <div class="row " data-cart-id="{{ cartInfo.id }}">
            <div class="col d-flex justify-content-between m-3">
              <input class='btn' data-group='{{ group }}' type="checkbox" name="product_id[]" value="{{ cartInfo.id }}" 
                     data-display="{{ cartInfo.id }}" style='width: 1em; height: 1em; font-size: 2rem;' autocomplete='off'>
              <i class="remove-cart-button fa-sharp fa-solid fa-xmark btn" 
                 data-cart-id="{{ cartInfo.id }}" data-group="{{ group }}" style="font-size: 2rem;"></i>
            </div>
          </div>
          <div class="row d-flex  justify-content-center" data-cart-id="{{ cartInfo.id }}">
            <div class="col-lg-3 my-auto ">
              <img src="{{ asset('users_data/' ~ myCartsDirImages[count]['id'] ~ '/products/' ~ myCartsDirImages[count]['dir'] ~ '/' ~ myCartsDirImages[count]['images'][0] ) }}"
                  alt="{{ cartInfo.name }}-Image" class="img-fluid rounded-3" >
            </div>
            <div class="col-lg-7 text-center">
              <p class="lead fw-normal mb-2">{{ cartInfo.name }}</p>
              <span id="{{ cartInfo.id }}">${{ cartInfo.price }}</span>
              <!-- Quantity -->
              <div class="col-md-4 col-6 mb-3 mx-auto">
                <label class="mb-2 d-block">Quantity</label>
                <div class="input-group mb-3">
                  <button class="btn btn-white border quantity-change" type="button" data-display="{{ cartInfo.id }}" data-mdb-ripple-color="dark" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                    <i class="fas fa-minus"></i>
                  </button>
                  <input name="quantity[]" min="1" max="{{ cartInfo.quantity }}" data-display="{{ cartInfo.id }}" value="{{ cartInfo.quantityUser  }}" type="number"
                         class="quantity-input quantity-change form-control form-control-sm w-25 text-center" data-price="{{ cartInfo.price }}" data-group="{{ group }}" disabled/> 
                  <button class="btn btn-white border quantity-change" type="button" data-display="{{ cartInfo.id }}" data-mdb-ripple-color="dark" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                    <i class="fas fa-plus"></i>
                  </button>					
                </div>
                <div class="text-center">Max: {{ cartInfo.quantity }}</div>
              </div>
            <a href="{{ path('app_check_product', { 'id': cartInfo.id }) }}" class="btn btn-primary flex-fill mb-3">Check product</a>
          </div>
          
          <hr>
        </div>  
        {% set groupProductsCount = groupProductsCount + 1 %}
        {# Check if next product is from the same owner #}
      {% elseif not (lastIdOwner == cartInfo.user.id ) %}
        <input type='hidden' value='{{ groupProductsCount }} ' data-group='{{ group }}'>
          {% set groupProductsCount = 0 %}
          <div class='summary text-center' data-summary-id='{{ group }}'>
            Summary = 100k
          </div>
          <div class="d-flex justify-content-center">
            <input class="form-control btn btn-success w-50" data-group="{{ group }}" type="submit" value="buy" disabled>
          </div>
        </form>
    {% set group = group + 1 %}
    
  </div>
  <br> <br>
  {# End #}
  <br>
  <div class="container border border-primary border-3 rounded p-5" data-group='{{ group }}'>
  <form action="{{ path('app_buy_now') }}" method="POST">

  <div class="row " data-cart-id="{{ cartInfo.id }}">
        <div class="col d-flex justify-content-between m-3">
          <input class='btn' data-group='{{ group }}' type="checkbox" name="product_id[]" value="{{ cartInfo.id }}" group='{{ group }}'
          data-display="{{ cartInfo.id }}" style='width: 1em; height: 1em; font-size: 2rem;' autocomplete='off'>
              <i class="remove-cart-button fa-sharp fa-solid fa-xmark btn" 
                 data-cart-id="{{ cartInfo.id }}" data-group="{{ group }}" style="font-size: 2rem;"></i>
        </div>
      </div>
      <div class="row d-flex  justify-content-center" data-cart-id="{{ cartInfo.id }}">

        <div class="col-lg-3 my-auto ">
          <img src="{{ asset('users_data/' ~ myCartsDirImages[count]['id'] ~ '/products/' ~ myCartsDirImages[count]['dir'] ~ '/' ~ myCartsDirImages[count]['images'][0] ) }}"
               alt="{{ cartInfo.name }}-Image" class="img-fluid rounded-3" >
        </div>
        <div class="col-lg-7 text-center">
          <p class="lead fw-normal mb-2">{{ cartInfo.name }}</p>
          <span id="{{ cartInfo.id }}">${{ cartInfo.price }}</span>
					<!-- Quantity -->
					<div class="col-md-4 col-6 mb-3 mx-auto">
					  <label class="mb-2 d-block">Quantity</label>
						<div class="input-group mb-3">
							<button class="btn btn-white border quantity-change" type="button" data-display="{{ cartInfo.id }}" data-mdb-ripple-color="dark" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
								<i class="fas fa-minus"></i>
							</button>
                <input name="quantity[]" min="1" max="{{ cartInfo.quantity }}" data-display="{{ cartInfo.id }}" value="{{ cartInfo.quantityUser  }}" type="number"
                       class="quantity-input quantity-change form-control form-control-sm w-25 text-center" data-price="{{ cartInfo.price }}" data-group="{{ group }}" disabled/> 
							<button class="btn btn-white border quantity-change" type="button" data-display="{{ cartInfo.id }}" id="button-addon2" data-mdb-ripple-color="dark" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
								<i class="fas fa-plus"></i>
							</button>
						</div>
            <div class="text-center">Max: {{ cartInfo.quantity }}
            </div>
					</div>
            <a href="{{ path('app_check_product', { 'id': cartInfo.id }) }}" class="btn btn-primary flex-fill mb-3">Check product</a>
        </div>
      </div>

      <hr>
         {% set groupProductsCount = groupProductsCount + 1 %}
    {% else %}
     
<div class="row " data-cart-id="{{ cartInfo.id }}">
        <div class="col d-flex justify-content-between m-3">
          <input class='btn' data-group='{{ group }}' type="checkbox" name="product_id[]" value="{{ cartInfo.id }}"
          data-display="{{ cartInfo.id }}" style='width: 1em; height: 1em; font-size: 2rem;' autocomplete="off">
                      <i class="remove-cart-button fa-sharp fa-solid fa-xmark btn" 
                 data-cart-id="{{ cartInfo.id }}" data-group="{{ group }}" style="font-size: 2rem;"></i>
        </div>
      </div>
      <div class="row d-flex  justify-content-center" data-cart-id="{{ cartInfo.id }}">

        <div class="col-lg-3 my-auto ">
          <img src="{{ asset('users_data/' ~ myCartsDirImages[count]['id'] ~ '/products/' ~ myCartsDirImages[count]['dir'] ~ '/' ~ myCartsDirImages[count]['images'][0] ) }}"
               alt="{{ cartInfo.name }}-Image" class="img-fluid rounded-3" >
        </div>
        <div class="col-lg-7 text-center">
          <p class="lead fw-normal mb-2">{{ cartInfo.name }}</p>
          <span id="{{ cartInfo.id }}">${{ cartInfo.price }}</span>
					<!-- Quantity -->
					<div class="col-md-4 col-6 mb-3 mx-auto">
					  <label class="mb-2 d-block">Quantity</label>
						<div class="input-group mb-3">
							<button class="btn btn-white border quantity-change" type="button" data-display="{{ cartInfo.id }}" id="button-addon2" data-mdb-ripple-color="dark" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
								<i class="fas fa-minus"></i>
							</button>
                <input name="quantity[]" min="1" max="{{ cartInfo.quantity }}" data-display="{{ cartInfo.id }}" value="{{ cartInfo.quantityUser  }}" type="number"
                       class="quantity-input quantity-change form-control form-control-sm w-25 text-center" data-price="{{ cartInfo.price }}" data-group="{{ group }}" disabled/> 
							<button class="btn btn-white border quantity-change" type="button" data-display="{{ cartInfo.id }}" id="button-addon2" data-mdb-ripple-color="dark" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
								<i class="fas fa-plus"></i>
							</button>
            </div>
            <div class="text-center">Max: {{ cartInfo.quantity }}
            </div>
					</div>
            <a href="{{ path('app_check_product', { 'id': cartInfo.id }) }}" class="btn btn-primary flex-fill mb-3">Check product</a>
        </div>
        <hr>
      </div>
       {% set groupProductsCount = groupProductsCount + 1 %}
          {% endif %}
    {% set lastIdOwner = cartInfo.user.id %}

    {% set count = count + 1 %}

    {% endfor %}

          <input type='hidden' value='{{ groupProductsCount }}' data-group='{{ group }}'>

  <div class='summary text-center' data-summary-id='{{ group }}'>
  </div>
    <div class="d-flex justify-content-center">
      <input class="form-control btn btn-success w-50" data-group="{{ group }}" type="submit" value="buy" disabled>
    </div>
  </form>
  {% set group = group + 1 %}
</section>

{% endif %}

{% block javascripts %}
<script type="text/javascript">

(function () {
    window.onpageshow = function(event) {
        if (event.persisted) {
            window.location.reload();
        }
    };
})();
// Change status buttons on start
$(document).ready(function(){

  $('.quantity-change').prop('disabled', true);
  $('.quantity-input').each(function(){
    var data = $(this).data('display');
    if ($(this).attr('max') <= 0) {
      $('input[type=checkbox][data-display="'+data+'"]').prop('disabled', true);
    }
  });
  
});

//  Set summary price on ready
$(document).ready(function(){
    $('.quantity-input').each(function() {
      var displayId = $(this).data('display');
      var checkbox = $('input[type=checkbox][data-display="' + displayId + '"]');
      var quantity = $(this).val();
      var price = $(this).data('price');
      $('span[id='+displayId+']').text('$' + (quantity * price).toFixed(2));
    })
    countSummary();
})

// Unlock buy button
$(document).ready(function(){
  $('input[type=checkbox]').change(function()
  {
    var value = ($(this).val());
    var classCheckbox = $(this).data('group');
    var dataDisplay = $(this).data('display');
    if($(this).is(':checked')){
      window['checkboxCount' + classCheckbox] = typeof window['checkboxCount' + classCheckbox] !== 'undefined' ? window['checkboxCount' + classCheckbox] + 1 : 1;
      $('.quantity-change[data-display="'+dataDisplay+'"]').prop('disabled', false);
       console.log($('.quantity-change'));
      $('input[type=submit][data-group="'+classCheckbox+'"]').prop('disabled', false);
    }
    else{
      window['checkboxCount' + classCheckbox]--;
   $('.quantity-change[data-display="'+dataDisplay+'"]').prop('disabled', true);
         console.log($('.quantity-change'));
      if(window['checkboxCount' + classCheckbox] == 0)
      {
        $('input[type=submit][data-group="'+classCheckbox+'"]').prop('disabled', true);
      }
    }
    updateTotal();
    countSummary();
  })
})





// Change price when quantity change
$(document).ready(function() {
  $('.quantity-change').on('click', function() {
    updateTotal();
    countSummary();
  });
});

// Set total price
function updateTotal() {
  $('.quantity-input').each(function() {
    var displayId = $(this).data('display');
    var checkbox = $('input[type=checkbox][data-display="' + displayId + '"]');
    if (checkbox.is(':checked')) {
      var quantity = $(this).val();
      var price = $(this).data('price');
      $('span[id='+displayId+']').text('$' + (quantity * price).toFixed(2));
    }
  });
}

var groupCount = 0;



// Count summary price
function countSummary()
{
  $('.summary').each(function(){
    var summaryId = $(this).data('summary-id');
    window['zmienna' + summaryId] = 0;
      $('.quantity-input').each(function() {
        var displayId = $(this).data('display');
        var checkbox = $('input[type=checkbox][data-display="' + displayId + '"]');
        if (checkbox.is(':checked')) {
          var group = $(this).data('group');
          if(group == summaryId)
          {
          var displayId = $(this).data('display');
          var quantity = $(this).val();
          var price = $(this).data('price');
          window['zmienna' + group] += parseFloat(price * quantity);
          }
        }      
      });
      var total = window['zmienna' + summaryId].toFixed(2);
      $('.summary[data-summary-id="'+summaryId+'"]').html('$'+total);
  });
} 

// Remove cart
$(document).on('click', '.remove-cart-button', function(event){
  var productId = $(this).data('cart-id');
  var group = $(this).data('group');
	var quantity = $('#quantity-input').val();
  $.ajax({
    url: '{{ path('ajax_remove_cart') }}',
    method: 'POST',
    data: {productId: productId, quantity: quantity},
    success: function(response) {
      console.log(111);
    $('.show-cart-count').html(response.cartsCount);
    $('.cart-item[data-cart-id="' + productId + '"]').remove();
    $('[data-cart-id="' + productId + '"]').empty();
    console.log(group);
    var newGroupValue = $('input[type=hidden][data-group='+group+']').val();
    newGroupValue = parseInt(newGroupValue) - 1;
    $('input[type=hidden][data-group='+group+']').val(newGroupValue);
    console.log($('input[type=hidden][data-group='+group+']').val());
 // console.log('value: '+$(this).val());
 // console.log($(this).data('group'));

    if ($('input[type=hidden][data-group='+group+']').val() == 0)
    {
      $('.container[data-group='+group+']').remove();
          console.log('contenery '+$('.container').length);
      if ($('.container').length == 1) {
        $('section').append("<div class='container border border-info rounded py-5 my-5 text-center'>" +
          "<h2> You have empty cart <i class='fas fa-cart-arrow-down'></i> </h2>" +
        "</div>");
        console.log('powinno dzialac');
      }
	  }}
  });
});
</script>
{% endblock %}

{% endblock %}
