{% extends 'base.html.twig' %}

{% block title %}Main Page
{% endblock %}

{% block body %}

	<div class="container-fluid my-5">
		<div
			class="row justify-content-center">
			{# Side bar #}
			<div class="col-xxl-2 col-xl-10 col-lg-10 col-md-10  ps-5 border rounded">
			<h2 class="accordion-header" id="headingOne">
								<button class="accordion-button collapsed btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									<h4 class='mt-5 change-arrow-down'>Categories <i class="fas fa-angle-down"></i></h4> 
								</button>
							</h2>
							<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
								<div class="accordion-body">
											{% for category in categories %}
					<a class="text-decoration-none {% if (actualCategory) and category.id == actualCategory.id %}active font-weight-bold text-danger{% endif %}" href="{{ path('app_category', { 'name': category.name }) }}">
						{{ category.name }}
						<i class="fas fa-light fa-angle-right"></i>
					</a><br>
				{% endfor %}
									
								</div>
							</div>
			
		
				<form action="{% if actualCategory %} {{ path('app_category', { 'name': actualCategory.name }) }} {% else %} {{ path('app_listening') }} {% endif %}" method="GET">
					<div class="input-group mt-3">
						<input type="text" class="form-control" placeholder="Search..." name="searchName">
						<button type="submit" class="btn btn-primary align-self-center">
							<i class="fas fa-search "></i>
						</button>
					</div>
					<div class="input-group ">
						<p>Min Price<input class="form-control" type="number" name="minPrice"></p>
						<p>Max Price<input class="form-control" type="number" name="maxPrice"></p>
					</div>
					<div class="input-group">
						<select class='d-block ' id="sort_by" name="sort_by">
							{% for option in sortOptions %}
								<option value={{ option.sort }} 
									name={{ option.sort }} {% if option.sort == sortBy %} selected {% endif %}>{{ option.label }}</option>
							{% endfor %}
						</select>
						<span class="input-group-btn">
							<button type="submit" class="btn btn-primary" value="select by">Sort
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</span>
					</div>
				</form>
			</div>
		{% if noFound %}
		<div class="col-md-10 ">
		<div class="container border rounded py-5 ">
		<div class="row text-center">
			<h2> No product found
				<i class="fas fal fa-frown"></i><br>
			</h2>
		</div>
		</div>
		</div>
		{% else %}
			{# Carts #}
			<div class="col-md-10 ">
				<div class="container border rounded py-5 ">
					<div class="row mx-auto">
						{% set count = 0 %}
						{% for offerInfo in allOfferInfo %}
							<div class="col-xxl-3 col-xl-4 col-lg-6 col-md-12  mb-5">
								<div
									class="card h-100">
									<!-- Product image-->
									<div class='ratio ratio-4x3'>
									<img
									src="{{ asset('users_data/' ~ allOfferDirImages[count]['id'] ~ '/products/' ~ allOfferDirImages[count]['dir'] ~ '/main/' ~ allOfferDirImages[count]['images'][0] ) }}" class="card-img-top p-4" alt="{{ offerInfo.name }}">
									</div>
									<!-- Product details-->
									<div class="card-body p-4">
										<div
											class="text-center">
											<!-- Product name-->
											<h5 class="fw-bolder">{{ offerInfo.name }}</h5>
											<!-- Product price-->
											${{ offerInfo.price }}
										</div>
									</div>
									<!-- Product actions-->
									<div class="card-footer p-4 pt-0 border-top-0 bg-transparent d-flex align-items-center justify-content-center">
										<a href="{{ path('app_check_product', { 'id': offerInfo.id }) }}" class="btn btn-primary flex-fill mx-2">Check product</a>
										{% if is_granted('IS_AUTHENTICATED_FULLY') %}
										{% if offerInfo.id in app.session.get('cartsId', '') %}
												<button class="remove-cart-button btn  btn-secondary text-center flex-fill" data-cart-id="{{ offerInfo.id }}">Remove product</button>
											{% else %}
												<button class="add-cart-button btn  btn-success flex-fill" data-cart-id="{{ offerInfo.id }}">Add to cart</button>
											{% endif %}
										{% else %}
											<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" >Add to cart</button>

											<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-dialog-centered">
												<div class="modal-content">
												<div class="modal-header m-auto">
													<h3>You must be logged in to do this</h3>
												</div>
												<div class="modal-body">
										
												<a href="{{ path('app_login') }}">
													<div class="btn btn-primary mt-2 w-100">
														Login
													</div>
												</a>
													<div class='text-center mt-2'>Or</div>
												<a href="{{ path('app_register') }}">
													<div class="btn btn-success mt-2 w-100">
														Register now
													</div>
												</a>
												</div>
												</div>
											</div>
											</div>
											
										{% endif %}
									</div>
								</div>
							</div>
							{% set count = count + 1 %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endif %}
{% block javascripts %}
<script type="text/javascript"> 
// Add to cart
var canCallFunction1 = true;
$(document).on('click', '.add-cart-button', function (event) {
	event.preventDefault();
	if (canCallFunction1) {
		canCallFunction1 = false;
		setTimeout(() => {
			canCallFunction1 = true;
		}, 500);
		var productId = $(this).data('cart-id');
		var quantity = $('#quantity-input').val();
		if (quantity == null) 
			quantity = 1;
		$.ajax({
			url: '{{ path('ajax_add_value_to_session') }}',
			method: 'POST',
			data: {
				productId: productId,
				quantity: quantity
			},
			success: function (response) {
				$('.show-cart-count').text(response.cartsCount);
				console.log(response.cartsCount);
				$('[data-cart-id="' + productId + '"]').removeClass('add-cart-button btn-success').addClass('remove-cart-button btn-secondary').text('Remove product');
				
			}
		});
	}
});
// Remove from cart
var canCallFunction1 = true;
$(document).on('click', '.remove-cart-button', function (event) {
	event.preventDefault();
	if (canCallFunction1) {
		canCallFunction1 = false;
		setTimeout(() => {
			canCallFunction1 = true;
		}, 500);
		var productId = $(this).data('cart-id');
		var quantity = $('#quantity-input').val();
		$.ajax({
			url: '{{ path('ajax_remove_cart') }}',
			method: 'POST',
			data: {
				productId: productId,
				quantity: quantity
			},
			success: function (response) {
				$('.show-cart-count').html(response.cartsCount);
				$('.cart-item[data-cart-id="' + productId + '"]').remove();
				$('[data-cart-id="' + productId + '"]').removeClass('remove-cart-button btn-secondary').addClass('add-cart-button btn-success').text('Add product');
			}

		});
	}
});

$(document).on('click', '.change-arrow-down', function()
{
	$(this).removeClass('change-arrow-down').addClass('change-arrow-up').html('Categories <i class="fas fa-angle-up"></i>')
})
$(document).on('click', '.change-arrow-up', function()
{
	$(this).removeClass('change-arrow-up').addClass('change-arrow-down').html('Categories <i class="fas fa-angle-down"></i>')
})
</script>
{% endblock %}

{% endblock %}
