{% extends 'base.html.twig' %}

{% block title %}Hello BuyNowController!{% endblock %}

{% block body %}


<div class='container border border-info rounded my-5'>
    <h2 class='text-center my-3'>In progress  <i class="fa-solid fa-gear"></i></h2> 
{% for myOrders in myOrdersArray %}
    <section class='order-field border container my-5 rounded

    ' data-id={{ myOrders.id }}>
        <div class='row p-2 '>
            <div class='col'>
                <h4>                
                    {% if myOrders.status == 'email_sent' %}
                        Your delivery is ready, check your email.
                    {% else %}
                        {{ myOrders.status }}
                    {% endif %}
                </h4>
                Delivery Type: {{ myOrders.deliveryType }}<br>

                Final Location: {{ myOrders.finalLocation }}<br>
                Payment Method: {{ myOrders.paymentMethod }}<br>
                Price: ${{ myOrders.price }}<br>

                {% if (myOrders.isPaid) %}
                    Paid 
                {% else %}
                    Not Paid 
                {% endif %}
                <br>
                {% if (myOrders.status == 'pending') or (myOrders.status == 'processing') %}
                    <div class='btn btn-danger delete-order' data-id='{{ myOrders.id }}'>Delete</div>
                {% endif %}
            </div>
            <div class='col'>
                {% for key in myOrders.dir|keys %}
                    <div class='bg-image hover-zoom'>
                    <a href='{{ path('app_check_product', { 'id': myOrders.id }) }}'> <img src="{{ asset('users_data/' ~ myOrders.owner.id ~ '/products/' ~ key ~ '/' ~ myOrders.dir[key] ) }}"
                         class="img-fluid rounded-3 m-3 " alt="{{ myOrders.name }}-Image"  height='150px' width='150px'></a>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
{% endfor %}
</div>
<div class='container border border-danger rounded mb-5'>
    <h2 class='text-center my-3'>Problem   <i class="fa-solid fa-circle-xmark" style="color: #c43644;"></i></h2>
    {% for myOrders in myOrdersArrayProblem %}
    
    <section class='order-field border container my-5 rounded'>
        <div class='row'>
            <div class='col'>
                <h4>   {{ myOrders.feedback }} </h4>
                {{ myOrders.feedbackDescription }}<br>
                
                Delivery Type: {{ myOrders.deliveryType }}<br>

   
                Final Location: {{ myOrders.finalLocation }}<br>
                Payment Method: {{ myOrders.paymentMethod }}<br>
                Price: ${{ myOrders.price }}<br>


                {% if (myOrders.isPaid) %}
                    Paid 
                {% else %}
                    Not Paid 
                {% endif %}
                <br>
                {{ myOrders.status }}<br>
            </div>
            <div class='col'>
                {% for key in myOrders.dir|keys %}
                    <a href='{{ path('app_check_product', { 'id': myOrders.id }) }}'> <img src="{{ asset('users_data/' ~ myOrders.owner.id ~ '/products/' ~ key ~ '/' ~ myOrders.dir[key] ) }}"
                         class="img-fluid rounded-3 m-3" alt="{{ myOrders.name }}-Image"  height='150px' width='150px'></a>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endfor %}
</div>


<div class='container border border-success rounded'>
    <h2 class='text-center my-3'>Complete  <i class="fa-sharp fa-solid fa-circle-check" style="color: #4b970c;"></i></h2> 
    {% for myOrders in myOrdersArrayDone %}
    
    <section class='order-field border container my-5 rounded' data-id={{ myOrders.id }}>
        <div class='row'>
            <div class='col'>
                Delivery Type: {{ myOrders.deliveryType }}<br>
                Final Location: {{ myOrders.finalLocation }}<br>
                Payment Method: {{ myOrders.paymentMethod }}<br>
                Price: ${{ myOrders.price }}<br>


                {% if (myOrders.isPaid) %}
                    Paid 
                {% else %}
                    Not Paid 
                {% endif %}
                <br>
                    {{ myOrders.status }}
   
   
            </div>
            <div class='col'>
                {% for key in myOrders.dir|keys %}
                    <a href='{{ path('app_check_product', { 'id': myOrders.id }) }}'> <img src="{{ asset('users_data/' ~ myOrders.owner.id ~ '/products/' ~ key ~ '/' ~ myOrders.dir[key] ) }}"
                         class="img-fluid rounded-3 m-3" alt="{{ myOrders.name }}-Image"  height='150px' width='150px'></a>
                {% endfor %}

            </div>
        </div>
    </section>
    {% endfor %}
</div>

{% block javascripts %}
{{ encore_entry_script_tags('app') }}
<script>
$(document).on('click', '.delete-order', function(){
    id = $(this).data('id');
    $.ajax({
        url: '{{ path('ajax_my_orders') }}',
        method: 'POST',
        data: {id: id, status: status},
        success: function(response)
        {
            console.log(response.id);
            $('.order-field[data-id='+id+']').remove();
        }
    })
})


</script>
{% endblock %}
{% endblock %}