{% extends 'base.html.twig' %}

{% block title %}My Sell{% endblock %}

{% block body %}
<div id='pending' class='container border border-info rounded my-5'>
<h2 class='text-center my-3'>Waiting for accept  <i class="fas fa-clock"></i></h2> 

{% for myOrders in myOrdersArrayPending %}
<section class='order-field border container my-5 rounded' data-id={{ myOrders.id }}>
    <div class='row p-2 '>
        <div class='col'>

            Delivery Type: {{ myOrders.deliveryType }}<br>

            Final Location: {{ myOrders.finalLocation }}<br>
            Payment Method: {{ myOrders.paymentMethod }}<br>
            Price: ${{ myOrders.price }}<br>

            {% if (myOrders.isPaid) %}
                Paid 
            {% else %}
                Not Paid 
            {% endif %}
            <br>
            <div class='btn btn-danger delete-order' data-id='{{ myOrders.id }}'>Delete</div>
            <div class='btn btn-primary order ' data-status='{{myOrders.status}}' data-id='{{ myOrders.id }}' 
             data-type='{{ myOrders.deliveryType }}'>Accept</div>
        </div>
        <div class='col'>
              {% set count = 0 %}
                {% set product = myOrders.product %}
                {% set parts = product|split('|') %}
                {% for key in myOrders.dir|keys %}
                    {% set productSplit = parts[count]|split(':') %}
                    {% set count = count + 1 %}
                    <div class='bg-image hover-zoom'>
                    <a href='{{ path('app_check_product', { 'id': productSplit[0] }) }}'> <img src="{{ asset('users_data/' ~ myOrders.owner.id ~ '/products/' ~ key ~ '/' ~ myOrders.dir[key] ) }}"
                         class="img-fluid rounded-3 m-3 " alt="{{ myOrders.name }}-Image"  height='150px' width='150px'></a>
                    </div>
                {% endfor %}
        </div>
    </div>
</section>
{% endfor %}</div>



<div class='container border border-info rounded my-5' id='progressing'>
    <h2 class='text-center my-3'>In progress  <i class="fa-solid fa-gear"></i></h2> 
{% for myOrders in myOrdersArrayProgressing %}
    <section class='order-field border container my-5 rounded
    ' data-id={{ myOrders.id }} >
        <div class='row p-2 '>
            <div class='col'>

                Delivery Type: {{ myOrders.deliveryType }}<br>

                Final Location: {{ myOrders.finalLocation }}<br>
                Payment Method: {{ myOrders.paymentMethod }}<br>
                Price: ${{ myOrders.price }}<br>

                {% if (myOrders.isPaid) %}
                    Paid 
                {% else %}
                    Not Paid 
                {% endif %}
                <br>
                
            </div>
            <div class='col'>
                  {% set count = 0 %}
                {% set product = myOrders.product %}
                {% set parts = product|split('|') %}
                {% for key in myOrders.dir|keys %}
                    {% set productSplit = parts[count]|split(':') %}
                    {% set count = count + 1 %}
                    <div class='bg-image hover-zoom'>
                    <a href='{{ path('app_check_product', { 'id': productSplit[0] }) }}'> <img src="{{ asset('users_data/' ~ myOrders.owner.id ~ '/products/' ~ key ~ '/main/' ~ myOrders.dir[key] ) }}"
                         class="img-fluid rounded-3 m-3 " alt="{{ myOrders.name }}-Image"  height='150px' width='150px'></a>
                    </div>
                {% endfor %}

            </div>
        </div>
   

    <div class='btn btn-danger delete-order' data-id='{{ myOrders.id }}'>Delete</div>
        <div class='btn btn-primary order ' data-status='{{myOrders.status}}' data-id='{{ myOrders.id }}' 
             data-type='{{ myOrders.deliveryType }}'
                         {% if (myOrders.deliveryType == 'personal_pickup') %}>Ready to pick up
            {% elseif (myOrders.deliveryType == 'parcel_locker') %}>Shipped
            {% elseif (myOrders.deliveryType == 'courier') %}>Shipped
            {% endif %}
            </div>
    <br><br><br><br>
            </div>
 </section>

{% endfor %}</div>

<div class='container border border-info rounded my-5' id='shipped'>
    <h2 class='text-center my-3'> Shipped <i class="fas fa-truck"></i></h2> 

{% for myOrders in myOrdersArrayShipped %}
        <section class='order-field border container my-5 rounded
                 ' data-id={{ myOrders.id }}>
            <div class='row p-2 '>
                <div class='col'>

                    Delivery Type: {{ myOrders.deliveryType }}<br>

                    Final Location: {{ myOrders.finalLocation }}<br>
                    Payment Method: {{ myOrders.paymentMethod }}<br>
                    Price: ${{ myOrders.price }}<br>

                    {% if (myOrders.isPaid) %}
                        Paid 
                    {% else %}
                        Not Paid 
                    {% endif %}
                    <br>
                
                </div>
                <div class='col'>
              {% set count = 0 %}
                {% set product = myOrders.product %}
                {% set parts = product|split('|') %}
                {% for key in myOrders.dir|keys %}
                    {% set productSplit = parts[count]|split(':') %}
                    {% set count = count + 1 %}
                    <div class='bg-image hover-zoom'>
                    <a href='{{ path('app_check_product', { 'id': productSplit[0] }) }}'> <img src="{{ asset('users_data/' ~ myOrders.owner.id ~ '/products/' ~ key ~ '/main/' ~ myOrders.dir[key] ) }}"
                         class="img-fluid rounded-3 m-3 " alt="{{ myOrders.name }}-Image"  height='150px' width='150px'></a>
                    </div>
                {% endfor %}
                </div>
            </div>
       
 </section>
{% endfor %}</div>
<div class='container border border-warning rounded my-5' id='ready_to_pick_up'>
    <h2 class='text-center my-3'> Waiting for feedback  <i class="fas fa-sticky-note"></i></h2> 
    {% for myOrders in myOrdersArrayWaitingForFeedback %}
        <section class='order-field border container my-5 rounded
                 ' data-id={{ myOrders.id }}>
            <div class='row p-2 '>
                <div class='col'>
                    Delivery Type: {{ myOrders.deliveryType }}<br>

                    Final Location: {{ myOrders.finalLocation }}<br>
                    Payment Method: {{ myOrders.paymentMethod }}<br>
                    Price: ${{ myOrders.price }}<br>

                    {% if (myOrders.isPaid) %}
                        Paid 
                    {% else %}
                        Not Paid 
                    {% endif %}
                    <br>
                
                </div>
                <div class='col'>
              {% set count = 0 %}
                {% set product = myOrders.product %}
                {% set parts = product|split('|') %}
                {% for key in myOrders.dir|keys %}
                    {% set productSplit = parts[count]|split(':') %}
                    {% set count = count + 1 %}
                    <div class='bg-image hover-zoom'>
                    <a href='{{ path('app_check_product', { 'id': productSplit[0] }) }}'> <img src="{{ asset('users_data/' ~ myOrders.owner.id ~ '/products/' ~ key ~ '/main/' ~ myOrders.dir[key] ) }}"
                         class="img-fluid rounded-3 m-3 " alt="{{ myOrders.name }}-Image"  height='150px' width='150px'></a>
                    </div>
                {% endfor %}
                </div>
            </div>
       
 </section>
{% endfor %}</div>

<div class='container border border-danger rounded mb-5'>
    <h2 class='text-center my-3'>Problem   <i class="fa-solid fa-circle-xmark" style="color: #c43644;"></i></h2>
    {% for myOrders in myOrdersArrayProblem %}
    
    <section class='order-field border container my-5 rounded'>
        <div class='row'>
            <div class='col'>
                <h4>   {{ myOrders.feedback }} </h4>
                {{ myOrders.feedbackDescription }}<br>
                
                Delivery Type: {{ myOrders.deliveryType }}<br>

   
                Final Location: {{ myOrders.finalLocation }}<br>
                Payment Method: {{ myOrders.paymentMethod }}<br>
                Price: ${{ myOrders.price }}<br>


                {% if (myOrders.isPaid) %}
                    Paid 
                {% else %}
                    Not Paid 
                {% endif %}
                <br>
                {{ myOrders.status }}<br>
            </div>
            <div class='col'>
              {% set count = 0 %}
                {% set product = myOrders.product %}
                {% set parts = product|split('|') %}
                {% for key in myOrders.dir|keys %}
                    {% set productSplit = parts[count]|split(':') %}
                    {% set count = count + 1 %}
                    <div class='bg-image hover-zoom'>
                    <a href='{{ path('app_check_product', { 'id': productSplit[0] }) }}'> <img src="{{ asset('users_data/' ~ myOrders.owner.id ~ '/products/' ~ key ~ '/main/' ~ myOrders.dir[key] ) }}"
                         class="img-fluid rounded-3 m-3 " alt="{{ myOrders.name }}-Image"  height='150px' width='150px'></a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endfor %}
</div>


<div class='container border border-success rounded'>
    <h2 class='text-center my-3'>Complete  <i class="fa-sharp fa-solid fa-circle-check" style="color: #4b970c;"></i></h2> 
    {% for myOrders in myOrdersArrayDone %}
    
    <section class='order-field border container my-5 rounded' data-id={{ myOrders.id }}>
        <div class='row'>
            <div class='col'>
                Delivery Type: {{ myOrders.deliveryType }}<br>
                Final Location: {{ myOrders.finalLocation }}<br>
                Payment Method: {{ myOrders.paymentMethod }}<br>
                Price: ${{ myOrders.price }}<br>

                <br>
                    {{ myOrders.status }}
   
   
            </div>
            <div class='col'>
               {% set count = 0 %}
                {% set product = myOrders.product %}
                {% set parts = product|split('|') %}
                {% for key in myOrders.dir|keys %}
                    {% set productSplit = parts[count]|split(':') %}
                    {% set count = count + 1 %}
                    <div class='bg-image hover-zoom'>
                    <a href='{{ path('app_check_product', { 'id': productSplit[0] }) }}'> <img src="{{ asset('users_data/' ~ myOrders.owner.id ~ '/products/' ~ key ~ '/main/' ~ myOrders.dir[key] ) }}"
                         class="img-fluid rounded-3 m-3 " alt="{{ myOrders.name }}-Image"  height='150px' width='150px'></a>
                    </div>
                {% endfor %} 

            </div>
        </div>
    </section>
    {% endfor %}
</div>


{% block javascripts %}
{{ encore_entry_script_tags('app') }}
<script>
$(document).ready(function(){
    $('.order-field[data-status="ready_to_pick_up"]').attr('disabled', true);
})
$(document).on('click', '.order', function(){
    id = $(this).data('id');
    $(this).removeData('status');
    status = $(this).data('status');
    type = $(this).data('type');
    $.ajax({
        url: '{{ path('ajax_order_from_buyers') }}',
        method: 'POST',
        data: {id: id, status: status, type: type},
        success: function(response)
        {
            if(!response.done)
            {
                $('.order[data-id='+id+']').attr('data-status', response.newStatus);
            }
            else
            {
                $('.order[data-id='+id+']').attr('data-status', response.newStatus);
                $('.delete-order[data-id='+id+']').remove();
                $('.order[data-id='+id+']').remove();
            }

            $('.order-field[data-id='+id+']').appendTo($('div[id='+response.newStatus+']'));
        }
    })
})

$(document).on('click', '.delete-order', function(){
    id = $(this).data('id');
    $.ajax({
        url: '{{ path('ajax_my_orders') }}',
        method: 'POST',
        data: {id: id, status: status},
        success: function(response)
        {
            $('.order-field[data-id='+id+']').remove();
        }
    })
})

</script>
{% endblock %}
{% endblock %}