{% extends 'base.html.twig' %}

{% block body %}
{% for message in app.flashes('success') %}
        <div class='alert alert-success'>
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class='alert alert-danger'>
            {{ message }}
        </div>
    {% endfor %}

<div >
  <div class="row  text-center mt-5">
    <div class="col-6 col-sm-3"><h1>{{ product.name }}</h1></div>
    <div class="col-6 col-sm-3"><img src="{{ asset('users_data/' ~ userOwnerProduct.id ~ '/avatar/avatar.jpg') }}" alt="ACME logo" class="img-fluid img-thumbnail rounded" width='100px'/></div>

    <!-- Force next columns to break to new line -->
    <div class="w-100"></div>

    <div class="col-6 col-sm-3"><h2>{{ product.description }}</h2></div>
    <div class="col-6 col-sm-3"><h1>{{ userOwnerProduct.username }}</h1>

      <h5 class="mb-0"><span id="price-display">${{ product.price  }}</span></h5>

</div>
  </div>
</div>
  </button>
               
                <input min="1" max="{{ product.quantity }}" id="quantity-input" value="1" type="number"
                  class="form-control form-control-sm" data-price="{{ product.price }}" />
                   Max: {{ product.quantity }}
                <button class="btn btn-link px-2"
                  onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                  <i class="fas fa-plus"></i>
                </button>
<br> Max: {{ product.quantity }}


<br>
{% for image in imagesName %}
<img class="w-25 p-3" src="{{ asset('users_data/' ~ userOwnerProduct.id ~ '/products/' ~ product.imagesdir ~ '/' ~ image) }}" />
{% endfor %}
{% if product.id in app.session.get('cartsId', '') %}
									<button class="remove-cart-button" data-cart-id="{{ product.id }}">Remove product</button>
								{% else %}
									<button class="add-cart-button" data-cart-id="{{ product.id }}">Add product</button>
								{% endif %}
{% if myProductBool %}         
<a href="{{ path('app_edit_product', {'id': product.id }) }}"> Edit </a>

{% endif %}


{# Add Review #}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <form>
      <select name="rating">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
</select>
      <input name='comment' type='text'><br>
      <button id="SubmitAddReviewProduct">Add Review</button>
    </form>
    <div id='successAddReviewMessage'></div>
{% endif %}
<br><br>

{# Show Review #}
<section id='review_section'>
{% for commentsAndRating in CommentsAndRatingArray %}
<section  style="background-color: #e7effd;" class='reviewFull' data='{{commentsAndRating.id}}'>
  <div class="container my-5 py-5 text-dark">
    <div class="row d-flex justify-content-center">
      <div class="col-md-11 col-lg-9 col-xl-7">
        <div class="d-flex flex-start mb-4">
          <img class="rounded-circle shadow-1-strong me-3"
            src="{{ asset('users_data/' ~ commentsAndRating.author.id ~ '/avatar/avatar.jpg') }}" alt="avatar" width="65"
            height="65" />
          <div class="card w-100">
            <div class="card-body p-4">
              <div class="">
                <h5>{{ commentsAndRating.author.username }}      {{ commentsAndRating.rating }}  </h5>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                  {% if commentsAndRating.author.id == myUser.id %}
                    <h5><i data-comment-id='{{commentsAndRating.id}}' class="deleteReview fa-sharp fa-solid fa-trash position-absolute top-0 end-0 m-3 btn"></i></h5>
                  {% endif %}
                {% endif %}
                    <p class="small">{{ commentsAndRating.createdAt|date('d-m-Y H:i:s') }}</p>
                    <p>
                {{ commentsAndRating.comment }}
                </p>

                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center">
                  {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% if commentsAndRating.id in (commentsAndRating.upVotesCheck|split('|')) %}
                      <i class="undoVote fas fa-thumbs-up me-1 btn" style="color: blue;" data-comment-id="{{ commentsAndRating.id }}" data-type="upVote">{{commentsAndRating.upvote}}</i>
                    {% else %}
                      <i class="vote fas fa-thumbs-up me-1 btn"  data-comment-id="{{ commentsAndRating.id }}" data-type="upVote">{{commentsAndRating.upvote}}</i>
                    {% endif %}
                    {% if commentsAndRating.id in (commentsAndRating.downVotesCheck|split('|')) %}
                      <i class="undoVote fas fa-thumbs-down me-1 btn" style="color: red;" data-comment-id="{{ commentsAndRating.id }}" data-type="downVote">{{commentsAndRating.downvote}}</i>
                    {% else %}
                      <i class="vote fas fa-thumbs-down me-1 btn"  data-comment-id="{{ commentsAndRating.id }}" data-type="downVote">{{commentsAndRating.downvote}}</i>
                    {% endif %}
                  {% else %}
                      <i class="fas fa-thumbs-up me-1"  data-comment-id="{{ commentsAndRating.id }}" data-type="upVote">{{commentsAndRating.upvote}}</i>
                      <i class="fas fa-thumbs-down me-1"  data-comment-id="{{ commentsAndRating.id }}" data-type="downVote">{{commentsAndRating.downvote}}</i>
                  {% endif %}
                  </div>
                  <a href="#!" class=""><i class="link-muted fas fa-reply me-1"></i> Reply</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endfor %}
</section>
{# <div class="row justify-content-center my-5  ">
   <div class="col-6 text-center bg-light border">
      <form id="form">
         <div class="form-group my-3">
            <input type="text" class="form-control" placeholder="Enter Title" id="title" >
         </div>
         <div class="form-group my-3">
            <input type="text" class="form-control" placeholder="Enter Author" id="author">
         </div>
         <div class="form-group my-3">
            <textarea class="form-control" rows="5" id="desc"  placeholder="Enter Description" style="resize: none;"></textarea>
         </div>
         <button type="submit" id="SubmitReviews" name="post" class="btn btn-primary my-3 fs-5 px-5">Submit</button>
      </form>
      <div id="alert" class="alert-danger"> </div>
   </div>
</div> #}
{% block javascripts %}
    <script type="text/javascript">

// Add Cart


// Add Reviews Function
var canCallFunction1 = true;
$(function () {
  $(document).on('click', '#SubmitAddReviewProduct', function(event) {
    event.preventDefault();
    if (canCallFunction1) {
      canCallFunction1 = false;
      setTimeout(() => {
        canCallFunction1 = true;
      }, 2000);
      
      var productId = {{ product.id }}
      $.ajax({
        type: 'POST',
        url: '{{ path('ajax_add_reviews_product') }}',
        data: $('form').serialize() + '&productId=' + productId,
        success: function(response) {
          $('#successAddReviewMessage').append('Comment successfully added.<br>').addClass('bg-success text-white p-2');;
          $('#review_section').empty();
          $('#review_section').html(response.html);
        } 
      });
    }
  });
});

// Remove Reviews Function
$(function(){
  $(document).on('click', '.deleteReview', function() {
    var $button = $(this);
    var reviewId = $button.data('comment-id');
    $.ajax({
      type: 'POST',
      url: '{{ path('ajax_remove_reviews_product') }}',
      data: {reviewId: reviewId},
      success: function(response)
      {
        console.log('1');
       $('section.reviewFull[data=' + reviewId + ']').remove();
      }
    })
  });
});

// Vote Function
$(function (){
  var canCallFunction2 = true;
  $(document).on('click', '.vote, .undoVote', function(){
    event.preventDefault();
    if (canCallFunction2) {
        canCallFunction2 = false;
        setTimeout(() => {
        canCallFunction2 = true;
        }, 1000);
  
    var $button = $(this);
    var reviewId = $button.data('comment-id');
    var type = $button.data('type');

    
    if ($button.hasClass('undoVote')) {
		  var currentClass = 'undoVote';
		  $.ajax({
			  type: 'POST',
			  url: '{{ path('ajax_up_vote_product_review')}}',
			  data: {reviewId: reviewId, type: type, currentClass: currentClass},
			  success: function(response)
			  {
				  if(response.success)
				  {
					  console.log('undoVote');
					  console.log(response);
					  $button.css('color', 'black').text(response.newValue);
				  }	
			  }
		  });
    }     
    else if ($button.hasClass('vote')) {
			var currentClass = 'vote';
			$.ajax({
			  type: 'POST',
			  url: '{{ path('ajax_up_vote_product_review')}}',
			  data: {reviewId: reviewId, type: type, currentClass: currentClass},
			  success: function(response)
			  {
				  if(response.success)
				  {
					  console.log('vote');
            if(type == 'upVote')
					    $button.css('color', 'blue').text(response.newValue);
            else if(type == 'downVote')
              $button.css('color', 'red').text(response.newValue);
          	console.log(response);
            if(response.offUpBool == true)
            { 
              $('[data-comment-id="' + reviewId + '"][data-type="upVote"]').css('color', 'black').removeClass('undoVote').addClass('vote').text(response.offValue);
            }
            else if(response.offDownBool == true)
            { 
              $('[data-comment-id="' + reviewId + '"][data-type="downVote"]').css('color', 'black').removeClass('undoVote').addClass('vote').text(response.offValue);
            }
            $button.text(response.newValue);
            
				  }
			  }
		  });
    };
    $button.toggleClass('vote undoVote');
  }});
});

$(document).on('click', '.add-cart-button', function(event){
	event.preventDefault();
    if (canCallFunction1) {
      canCallFunction1 = false;
      setTimeout(() => {
        canCallFunction1 = true;
      }, 2000);
    var productId = $(this).data('cart-id');
	var quantity = $('#quantity-input').val();
	if(quantity == null) quantity = 1;
    $.ajax({
      url: '{{ path('ajax_add_value_to_session') }}',
      method: 'POST',
      data: {productId: productId, quantity: quantity},
      success: function(response) {
        console.log('Value added to session');
        // Aktualizujemy wartość elementu HTML po zakończeniu operacji AJAX
        $('.show-cart-count').html(response.cartsCount);
        $('[data-cart-id="' + productId + '"]').removeClass('add-cart-button').addClass('remove-cart-button').text('Remove product');
	  
      }
    });
  }});
var canCallFunction1 = true;
  $(document).on('click', '.remove-cart-button', function(event){
	event.preventDefault();
    if (canCallFunction1) {
      canCallFunction1 = false;
      setTimeout(() => {
        canCallFunction1 = true;
      }, 2000);
    var productId = $(this).data('cart-id');
	var quantity = $('#quantity-input').val();
    $.ajax({
      url: '{{ path('ajax_remove_cart') }}',
      method: 'POST',
      data: {productId: productId, quantity: quantity},
      success: function(response) {
        
			$('.show-cart-count').html(response.cartsCount);
        	$('.cart-item[data-cart-id="' + productId + '"]').remove();
			$('[data-cart-id="' + productId + '"]').removeClass('remove-cart-button').addClass('add-cart-button').text('Add product');

	  }
    });
  }});
</script>
{% endblock %}

{% endblock %}