{% extends 'base.html.twig' %}

{% block body %}
<style>
.rating{
  display : flex;
  justify-content: center;
}

.rating input{
  position : absolute;
  left     : -100vw;
}

.rating label{
  width      : 48px;
  height     : 48px;
  padding    : 48px 0 0;
  overflow   : hidden;
  background: url('{{ asset('tools/stars.png') }}') no-repeat top left;
  cursor: pointer;
}

.rating:not(:hover) input:indeterminate + label,
.rating:not(:hover) input:checked ~ input + label,
.rating input:hover ~ input + label{
  background-position : -48px 0;
}

.rating:not(:hover) input:focus-visible + label{
  background-position : -96px 0;
}

#stars{
	background: url('{{ asset('tools/star-empty.png') }}') repeat-x;
	min-width: 242px;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}
</style>
{% if productNotFoundBool %}
<div class = 'container border border-warning text-center rounded'>
<h1>Product Not Found</h1>
<a href='{{ path('app_index') }}'><h4>Back to main page</h4></a>
</div>
{% else %}
	{% for message in app.flashes('success') %}
		<div class='alert alert-success'>
			{{ message }}
		</div>
	{% endfor %}
	{% for message in app.flashes('error') %}
		<div class='alert alert-danger'>
			{{ message }}
		</div>
	{% endfor %}
	<section class="py-5">
		<div class="container border border-primary rounded p-3">
			<div class="row gx-5">
				<aside class="col-lg-6">
					<div class=" mb-3 d-flex justify-content-center">
						<img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" id='main-image' 
							 src="{{ asset('users_data/' ~ userOwnerProduct.id ~ '/products/' ~ product.imagesdir ~ '/' ~ imagesName[0]) }}" width="600" height="600"/>
					</div>
					<div class="d-flex justify-content-center mb-3">
						<div class='container d-inline-block text-center'>
							<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
								<div class="carousel-inner">
									<div class="carousel-item active">
										{% set imageCount = 0 %}
										{% set count = 1 %}
										{% for image in imagesName %}
											{% if imageCount < 5 * count %}
												<img class=" display-image" 
													 src="{{ asset('users_data/' ~ userOwnerProduct.id ~ '/products/' ~ product.imagesdir ~ '/' ~ imagesName[imageCount]) }}" width="80" height="80"/>
											{% else %}
												{% set count = count + 1 %}
											</div>
											<div class="carousel-item">
												<img class=" display-image" src="{{ asset('users_data/' ~ userOwnerProduct.id ~ '/products/' ~ product.imagesdir ~ '/' ~ imagesName[imageCount]) }}" width="80" height="80"/>
												{% endif %}
												{% set imageCount =  imageCount + 1 %}
											{% endfor %}
											</div>
										</div>
										<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
											<span class="carousel-control-prev-icon" aria-hidden="true"></span>
											<span class="visually-hidden">Previous</span>
										</button>
										<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
											<span class="carousel-control-next-icon" aria-hidden="true"></span>
											<span class="visually-hidden">Next</span>
										</button>
									</div>
								</div>
							</div>
					<!-- thumbs-wrap.// -->
					<!-- gallery-wrap .end// -->
				</aside>
				<main class="col-lg-6">
					<div class="ps-lg-3">
						<h4 class="title text-dark">
							{{ product.name }}
						</h4>
						<div class="d-flex flex-row my-3">
							<div class="text-warning mb-1 me-2">
								<div id='stars'></div>
								<span id='starsSummary' class="ms-1"></span>
							</div>
							<div class='container'>
							<span class="text-muted fs-4 mt-2 ms-3">
								<i class="fas fa-shopping-basket fa-sm mx-1"></i> 
								{{ product.orderscount is null ? 0 : product.orderscount }} orders
							</span>
							<a class='text-decoration-none' href="{{ path('app_user', {'id': userOwnerProduct.id})|replace({'?id=': '/'}) }}">
								<div class="card mx-5 mt-5" style="width: 6rem;">
									<img  src="{{ asset('users_data/' ~ userOwnerProduct.id ~ '/avatar/avatar.jpg')}}">
									<div class="card-body">
										<p class="card-text text-center ">{{ userOwnerProduct.username }}</p>
									</div>
								</div>
							</a>

						</div>
						</div>

						<div class="mb-3">
							<span class="h5">${{ product.price }}</span>

						</div>

						<p>
							{{ product.description }}
						</p>
						
						<hr/>
						<!-- Quantity -->
						<div class="row mb-4">
							<div class="col-md-4 col-6 mb-3">
								<label class="mb-2 d-block">Quantity</label>
								<div class="input-group mb-3">
									<button class="btn btn-white border border-secondary " type="button" id="button-addon2" data-mdb-ripple-color="dark" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
										<i class="fas fa-minus"></i>
									</button>
									<input min="1" max="{{ product.quantity }}" id="quantity-input" value="1" type="number" class="form-control form-control-sm border border-secondary text-center" data-price="{{ product.price }}" readonly/>

									<button class="btn btn-white border border-secondary " type="button" id="button-addon2" data-mdb-ripple-color="dark" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
										<i class="fas fa-plus"></i>
									</button>
								</div>
								<div class="text-center">Max: {{ product.quantity }}
            					</div>
							</div>
						</div>
						{% if product.id in app.session.get('cartsId', '') %}
							<button class="remove-cart-button btn btn-secondary" data-cart-id="{{ product.id }}">
								<i class="me-1 fa fa-shopping-basket"></i>
								Remove from cart</button>
						{% else %}
							{% if product.quantity > 0 %}
								<button class="add-cart-button btn btn-primary mb-5 ms-1" data-cart-id="{{ product.id }}">
									<i class="me-1 fa fa-shopping-basket"></i>
									Add to cart</button>
							{% endif %}
						{% endif %}
						<div class='border rounded text-center mt-5'>
						<h3 class='m-3'> Delivery </h3>
						{% if deliveryArray is empty %}
							No delivery for this product
						{% else %}

						<div class='container'>
								<div class='row'>
						 	{% for delivery in deliveryArray %}
							
								
								{% if (delivery.type == 'parcel_locker') %}
								<div class='col my-3' data-bs-toggle="tooltip" data-bs-placement="top" title="Parcel locker">
									<img src='{{asset('tools/locker.png') }}'>
								</div>
								{% elseif (delivery.type =='courier' )%}
								<div class='col my-3' data-bs-toggle="tooltip" data-bs-placement="top" title="Courier">
									<img src='{{asset('tools/delivery-man.png') }}'>
									</div>
								{% elseif (delivery.type =='personal_pickup' ) %}
								<div class='col my-3' data-bs-toggle="tooltip" data-bs-placement="top" title="Personal Pickup">
									<img src='{{asset('tools/delivery.png') }}'>
									{{ delivery.personalpickup }}
									
									</div>
								{% endif %}
							
							{% endfor %}
								</div>
								</div>
						{% endif %}
					</div>
					</div>
				</main>
			</div>
		</div>
	</section>
    {# Add Review #}
	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		<div class='container mx-auto w-50 border border-secondary rounded p-3 d-flex justify-content-center'>
			<div class='row text-center m-4'>
			<h2>Add Review</h2>
				<form>
					<div class="rating">
					<input id="rating1" type="radio" name="rating" value="1">
					<label for="rating1">1</label>
					<input id="rating2" type="radio" name="rating" value="2">
					<label for="rating2">2</label>
					<input id="rating3" type="radio" name="rating" value="3">
					<label for="rating3">3</label>
					<input id="rating4" type="radio" name="rating" value="4">
					<label for="rating4">4</label>
					<input id="rating5" type="radio" name="rating" value="5">
					<label for="rating5">5</label>
					</div>
 					<textarea class="form-control mt-3" id="comment" name="comment" rows="4"></textarea>

					<button id="SubmitAddReviewProduct" class='form-control btn btn-primary mt-3'>Send</button>
					<div id='notification' class='my-5'></div>
				</form>
				
      		</div>
      	</div>
	  	{% endif %}
	{% if myProductBool %}
		<a href="{{ path('app_edit_product', {'id': product.id }) }}">
			Edit
		</a>
	{% endif %}

</div>


	{# Show Review #}
	<section id='review_section'>
		{% for commentsAndRating in CommentsAndRatingArray %}

			<section style="background-color: #e7effd;" class='reviewFull' data='{{commentsAndRating.id}}'>
				<div class="container my-5 py-5 text-dark">
					<div class="row d-flex justify-content-center">
						<div class="col-md-11 col-lg-9 col-xl-7">
							<div class="d-flex flex-start mb-4">
								<img class="rounded-circle shadow-1-strong me-3" src="{{ asset('users_data/' ~ commentsAndRating.author.id ~ '/avatar/avatar.jpg') }}" alt="avatar" width="65" height="65"/>
								<div class="card w-100">
									<div class="card-body p-4">
										<div class="">
											<h5>{{ commentsAndRating.author.username }}
												<input type='hidden' class='rating-count' value='{{commentsAndRating.rating}}'>
												{% for i in 1..commentsAndRating.rating %}
													<i class="fas fa-star" style="color: #f8c50d;"></i>
												{% endfor %}
											</h5>
											{% if is_granted('IS_AUTHENTICATED_FULLY') %}
												{% if commentsAndRating.author.id == myUser.id %}
													<h5>
														<i data-comment-id='{{commentsAndRating.id}}' class="deleteReview fa-sharp fa-solid fa-trash position-absolute top-0 end-0 m-3 btn"></i>
													</h5>
												{% endif %}
											{% endif %}
											<p class="small">{{ commentsAndRating.createdAt|date('d-m-Y H:i:s') }}</p>
											<p>
												{{ commentsAndRating.comment }}
											</p>

											<div class="d-flex justify-content-between align-items-center">
												<div class="d-flex align-items-center">
													{% if is_granted('IS_AUTHENTICATED_FULLY') %}
														{% if commentsAndRating.id in (commentsAndRating.upVotesCheck|split('|')) %}
															<i class="undoVote fas fa-thumbs-up me-1 btn" style="color: blue;" data-comment-id="{{ commentsAndRating.id }}" data-type="upVote">{{commentsAndRating.upvote}}</i>
														{% else %}
															<i class="vote fas fa-thumbs-up me-1 btn" data-comment-id="{{ commentsAndRating.id }}" data-type="upVote">{{commentsAndRating.upvote}}</i>
														{% endif %}
														{% if commentsAndRating.id in (commentsAndRating.downVotesCheck|split('|')) %}
															<i class="undoVote fas fa-thumbs-down me-1 btn" style="color: red;" data-comment-id="{{ commentsAndRating.id }}" data-type="downVote">{{commentsAndRating.downvote}}</i>
														{% else %}
															<i class="vote fas fa-thumbs-down me-1 btn" data-comment-id="{{ commentsAndRating.id }}" data-type="downVote">{{commentsAndRating.downvote}}</i>
														{% endif %}
													{% else %}
														<i class="fas fa-thumbs-up me-1" data-comment-id="{{ commentsAndRating.id }}" data-type="upVote">{{commentsAndRating.upvote}}</i>
														<i class="fas fa-thumbs-down me-1" data-comment-id="{{ commentsAndRating.id }}" data-type="downVote">{{commentsAndRating.downvote}}</i>
													{% endif %}
												</div>
												<a href="#!" class="">
													<i class="link-muted fas fa-reply me-1"></i>
													Reply</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

		{% endfor %}
	</section>
	{# <div class="row justify-content-center my-5  ">
	   <div class="col-6 text-center bg-light border">
	      <form id="form">
	         <div class="form-group my-3">
	            <input type="text" class="form-control" placeholder="Enter Title" id="title" >
	         </div>
	         <div class="form-group my-3">
	            <input type="text" class="form-control" placeholder="Enter Author" id="author">
	         </div>
	         <div class="form-group my-3">
	            <textarea class="form-control" rows="5" id="desc"  placeholder="Enter Description" style="resize: none;"></textarea>
	         </div>
	         <button type="submit" id="SubmitReviews" name="post" class="btn btn-primary my-3 fs-5 px-5">Submit</button>
	      </form>
	      <div id="alert" class="alert-danger"> </div>
	   </div>
	</div> #}

	{% endif %}
	{% block javascripts %}
		<script type="text/javascript">

			// Add Cart

var ratingValue = 0;
var ratingCount = 0;
var ratingSummary = 0;
var ratingDisplay;
var productId = {{ product.id }}
$(document).ready(function(){
	showStars();

});

// Add Reviews Function
var canCallFunction1 = true;
$(function () {
$(document).on('click', '#SubmitAddReviewProduct', function (event) {
event.preventDefault();

if (canCallFunction1) {
canCallFunction1 = false;
setTimeout(() => {
canCallFunction1 = true;
}, 2000);

var productId = {{ product.id }}
$.ajax({
type: 'POST',
url: '{{ path('ajax_add_reviews_product') }}',
data: $('form').serialize() + '&productId=' + productId,
success: function (response) {
showNotification('<div class="alert alert-success">Comment successfully added.</div>');
$('#review_section').empty();
$('#review_section').html(response.html);
showStars();
}
});
}
});
});

// Remove Reviews Function
$(function () {
$(document).on('click', '.deleteReview', function () {
var $button = $(this);
var reviewId = $button.data('comment-id');
$.ajax({
type: 'POST',
url: '{{ path('ajax_remove_reviews_product') }}',
data: {
reviewId: reviewId
},
success: function (response) {
console.log('1');
$('section.reviewFull[data=' + reviewId + ']').remove();
}
})
});
});

// Vote Function
$(function () {
var canCallFunction2 = true;
$(document).on('click', '.vote, .undoVote', function () {
event.preventDefault();
if (canCallFunction2) {
canCallFunction2 = false;
setTimeout(() => {
canCallFunction2 = true;
}, 1000);

var $button = $(this);
var reviewId = $button.data('comment-id');
var type = $button.data('type');


if ($button.hasClass('undoVote')) {
var currentClass = 'undoVote';
$.ajax({
type: 'POST',
url: '{{ path('ajax_up_vote_product_review') }}',
data: {
reviewId: reviewId,
type: type,
currentClass: currentClass
},
success: function (response) {
if (response.success) {
console.log('undoVote');
console.log(response);
$button.css('color', 'black').text(response.newValue);
}
}
});
} else if ($button.hasClass('vote')) {
var currentClass = 'vote';
$.ajax({
type: 'POST',
url: '{{ path('ajax_up_vote_product_review') }}',
data: {
reviewId: reviewId,
type: type,
currentClass: currentClass
},
success: function (response) {
if (response.success) {
console.log('vote');
if (type == 'upVote') 
$button.css('color', 'blue').text(response.newValue);
 else if (type == 'downVote') 
$button.css('color', 'red').text(response.newValue);



console.log(response);
if (response.offUpBool == true) {
$('[data-comment-id="' + reviewId + '"][data-type="upVote"]').css('color', 'black').removeClass('undoVote').addClass('vote').text(response.offValue);
} else if (response.offDownBool == true) {
$('[data-comment-id="' + reviewId + '"][data-type="downVote"]').css('color', 'black').removeClass('undoVote').addClass('vote').text(response.offValue);
}
$button.text(response.newValue);

}
}
});
};
$button.toggleClass('vote undoVote');
}
});
});

// Add to cart
$(document).on('click', '.add-cart-button', function (event) {
event.preventDefault();
if (canCallFunction1) {
canCallFunction1 = false;
setTimeout(() => {
canCallFunction1 = true;
}, 2000);
var productId = $(this).data('cart-id');
var quantity = $('#quantity-input').val();
if (quantity == null) 
quantity = 1;



$.ajax({
url: '{{ path('ajax_add_value_to_session') }}',
method: 'POST',
data: {
productId: productId,
quantity: quantity
},
success: function (response) {
$('.show-cart-count').html(response.cartsCount);
$('[data-cart-id="' + productId + '"]').removeClass('add-cart-button btn-primary').addClass('remove-cart-button btn-secondary').html('<i class="me-1 fa fa-shopping-basket"></i>Remove from cart');

}
});
}
});
// remove from cart
var canCallFunction1 = true;
$(document).on('click', '.remove-cart-button', function (event) {
event.preventDefault();
if (canCallFunction1) {
canCallFunction1 = false;
setTimeout(() => {
canCallFunction1 = true;
}, 2000);
var productId = $(this).data('cart-id');
var quantity = $('#quantity-input').val();
$.ajax({
url: '{{ path('ajax_remove_cart') }}',
method: 'POST',
data: {
productId: productId,
quantity: quantity
},
success: function (response) {

$('.show-cart-count').html(response.cartsCount);
$('.cart-item[data-cart-id="' + productId + '"]').remove();
$('[data-cart-id="' + productId + '"]').removeClass('remove-cart-button btn-secondary').addClass('add-cart-button btn-primary').html('<i class="me-1 fa fa-shopping-basket"></i>Add to cart');

}
});
}
});

$('.display-image').click(function () {
var image = $(this).attr('src');
$('#main-image').attr('src', image);
console.log(1);
})

function showStars()
{
	$('#stars').empty();
   const starsPath = "{{ asset('tools/star.png') }}";
   const starsEmptyPath = "{{ asset('tools/star-empty.png') }}";
   let ratingValue = 0;
   let ratingCount = 0;
   $('.rating-count').each(function() {
      ratingValue += parseInt($(this).val());
      ratingCount += 1;
   });
   console.log('ratingcount: '+ratingCount);
   const ratingSummary = ratingValue / ratingCount;
	if(ratingSummary){
		for (let i = 0; i < Math.floor(ratingSummary); i++) {
			const star = document.createElement('img');
			star.src = starsPath;
			$('#stars').append(star);
		}
		if (ratingSummary % 1 !== 0){
				let clipValue = (1 - ratingSummary % 1) * 100;
				const star = document.createElement('img');
				star.src = starsPath;
				star.style.clipPath = `inset(0 ${clipValue}% 0 0)`;
				$('#stars').append(star);
		}	
		$('#starsSummary').html(ratingSummary.toFixed(2)+' out of '+ ratingCount + ' user ratings');
   }

}
function showNotification(message)
{
    $('#notification').html(message);
    setTimeout(function()
    {
        $('#notification').get(0).style.display = 'none';
    }, 2000);
}
		</script>
	{% endblock %}
{% endblock %}
