{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    <h1>Add Product</h1>

    {{ form_start(AddProductFormType) }}
        {{ form_row(AddProductFormType.name) }}
        {{ form_row(AddProductFormType.description) }}
        {{ form_row(AddProductFormType.price) }}
        {{ form_row(AddProductFormType.category) }}
        <button type="submit" class="btn">Add Product</button>
    {{ form_end(AddProductFormType) }}
{% endblock %}
