{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}
{% block body %}


    <h1>Add Product</h1>

    {{ form_start(AddProductFormType) }}
        {# {{ form_row(AddProductFormType.name) }}
        {{ form_row(AddProductFormType.description) }}
        {{ form_row(AddProductFormType.price) }}
        {{ form_row(AddProductFormType.category) }} #}
    {{ form_end(AddProductFormType) }}
            

    <br>
    <br>
    <br>
<h1> Delivery </h1>
<div id='addDelivery' class='btn btn-primary'>Save And Add Delivery</div>

{% block javascripts %}
<script type="text/javascript">
$('#addDelivery').click(function()
{
  $('#type').html('{{ form_row(AddDeliveryFormType.type) }}');
  $('#price').html('{{ form_row(AddDeliveryFormType.price) }}');
  $("#delivery_form_type").trigger("change");
            console.log('2');
});



</script>
{% endblock %}
{% endblock %}
