{% extends 'base.html.twig' %}

{% block title %}Hello BuyNowController!{% endblock %}

{% block body %}
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v7.2.2/ol.css">
<script src="https://cdn.jsdelivr.net/npm/ol@v7.2.2/dist/ol.js"></script>
<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }

</style>

<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-12 mx-lg-5 p-5 my-3 border border-primary rounded">
      {{ form_start(OrderProductFormType) }}
      {{ form_row(OrderProductFormType.name, {'attr': {'class': 'form-control'}}) }}
      {{ form_row(OrderProductFormType.last_name, {'attr': {'class': 'form-control'}}) }}
      {{ form_row(OrderProductFormType.email, {'attr': {'class': 'form-control'}}) }}
      {{ form_row(OrderProductFormType.phone_number, {'attr': {'class': 'form-control'}}) }}
      {{ form_row(OrderProductFormType.address, {'attr': {'class': 'form-control'}}) }}
      {{ form_row(OrderProductFormType.comment, {'attr': {'class': 'form-control'}}) }}
      {# {% for productAndQuantity in productAndQuantityArray %}
        <section class='deliveryFull' data-id='{{ delivery.id }}'>
          <input data-type='{{ delivery.type }}' data-location='{{ delivery.getPersonalPickup() }}' id="delivery-{{ delivery.id }}" class="form-check-input" type="radio" name="deliveryOption" value="{{ delivery.id }}">
          <label class="form-check-label" for="delivery-{{ delivery.id }}">
          {{ delivery.type }}
          {{ delivery.price }}
          {{ delivery.getPersonalPickup() }}
          </label>
        </section>
      {% endfor %} #}
    </div>
    <input type='hidden' name='summary' value=''>
    
    {# Products section #}
    <div class="col border border-success rounded  p-5 my-3 text-center">
      {% set count = 0 %}
      {% for offerInfo in allOfferInfo %}
        <input type='hidden' name='ownerId' value='{{ offerInfo.user.id }}'>
        <img src="{{ asset('users_data/' ~ allOfferDirImages[count]['id'] ~ '/products/' ~ allOfferDirImages[count]['dir'] ~ '/' ~ allOfferDirImages[count]['images'][0] ) }}" 
          class="card-img-top w-25" alt="...">
        <div class='h5'>{{ offerInfo.name }}
        </div><br>
        Price:  ${{ offerInfo.price }}<br>
        {{ productIdAndQuantityArray[count]['product_id'] }}
        <div class="col-md-4 col-6 mb-3 mx-auto">
				  <label class="mb-2 d-block">Quantity
          </label>
					<div class="input-group mb-3">
							<button class="btn btn-white border quantity-change" type="button" data-display="{{ offerInfo.id }}" id="button-addon2" data-mdb-ripple-color="dark" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
								<i class="fas fa-minus"></i>
							</button>
              <input name='quantity[]' class='quantity-input quantity-change form-control text-center' type='number' data-display='{{ offerInfo.id }}' data-price='{{ offerInfo.price }}' 
              value="{{ productIdAndQuantityArray[count]['quantity'] }}" max="{{ offerInfo.quantity }}" min=1>
							<button class="btn btn-white border quantity-change" type="button" data-display="{{ offerInfo.id }}" id="button-addon2" data-mdb-ripple-color="dark" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
								<i class="fas fa-plus"></i>
							</button>
          </div>
				</div>
        <div class="text-center">Max: {{ offerInfo.quantity }}
        </div>
        <div class='total-display' data-id='{{ offerInfo.id }}'>Price {{ offerInfo.price }}
        </div>
      
        <input name='id-and-quantity[]' type='hidden' data-id={{ offerInfo.id }} data-quantity='1' value=''>


        <hr>
        
        {% set count = count + 1 %}
      {% endfor %}
      <section class='border border-secondary rounded'>
      {% set count = 0 %}
        {% if (avalibleDelivery) %}
          {% for delivery in avalibleDelivery %}
            <label><input type="radio" class='delivery-type-checkbox' name="delivery-type-checkbox" value="{{ delivery.type }}"  data-id='{{ count }}'
              {% if delivery.type == 'personal_pickup' %} data-price="0" data-location='{{delivery.personal_pickup}}'
                {% elseif delivery.type == 'parcel_locker' %} data-price="5" 
                {% elseif delivery.type == 'courier' %} data-price="10" 
              {% endif %}>
              {{ delivery.type }} {{ delivery.personal_pickup }}<div class='delivery-price' data-id='{{ count }}'></div>
            </label><br>
            
            {% set count = count + 1 %}
        {% endfor %}    
        {% else %}
        No delivery for these products. You can try ordering these products separately.
      {% endif %}
        <div id='final_location_place' class='d-none'>
          {{ form_widget(OrderProductFormType.final_location, {'attr': {'class': 'form-control'}})}}
        </div>
          <section id='parcelLockerSection'>
            <div id='map'></div>
            <div id='popup'>
              <div id='popup-content'></div>
            </div>
          </section>
          Payment method <br>
          <label><input type='radio' class='payment-method ' name='payment-method' value='My wallet'>  My wallet</label><br>
          <label><input type='radio' class='payment-method ' name='payment-method' value='Cash on Delivery'>  Cash on Delivery</label>
          
          Your wallet: ${{ app.user.wallet }}<br>
          Summary: <div class='h5' id='summary'></div>
   
        </section>
      </div>
  </div>
  <div class='row mx-auto ' style='max-width: 75%'>
    {{ form_row(OrderProductFormType.submit, {'attr': {'class': 'form-control btn btn-primary mx-4 '}}) }}
  </div>  
</div>
{{ form_end(OrderProductFormType) }}
{% block javascripts %}
<script type="text/javascript">



$(document).ready(function() {
  $('.quantity-change').on('click', function() {
    updateTotal();
  });
});

$(document).ready()
{
  updateTotal();
  displayDeliveryPrice();
  checkRadioStatus();
}

//
function checkRadioStatus()
{
  if ($('input[name=delivery-type-checkbox]:checked').length > 0 &&
        $('input[name=payment-method]:checked').length > 0)
   {
        $('#order_product_form_submit').attr('disabled', false);

  }
  else {
          $('#order_product_form_submit').attr('disabled', true);

  }
  //$('input[type="radio"]').each(function() {
  
    //$('#order_product_form_submit').attr('disabled', false);
    //if (!$(this).is(':checked')) {
      //$('#order_product_form_submit').attr('disabled', true);
      //console.log('www');
    //}
 // });
}

$('input[type="radio"]').click(function(){
  checkRadioStatus();
})

$('.quantity-input').on('change', function() 
{
  updateTotal();

});
$('input[name="delivery-type-checkbox"]').on('change', function() 
{
   updateTotal();
});


function displayDeliveryPrice() {
  $('.delivery-type-checkbox').each(function(){
  var price = $(this).data('price');
  var id = $(this).data('id');
  $('.delivery-price[data-id='+id+']').text('$'+price);
})
}

// Update total price
function updateTotal() {
  var summary = 0;
  $('.quantity-input').each(function() {
    var displayId = $(this).data('display');
    var quantity = $(this).val();
    var price = $(this).data('price');
    var total = (quantity * price);
    
    console.log('quantity: '+quantity+'   price: '+price);
    $('input[name="id-and-quantity[]"][data-id="'+displayId+'"]').val(displayId+':'+quantity);
    $('.total-display[data-id='+displayId+']').text('$' + (quantity * price).toFixed(2));
    summary = total + summary;
   
  });
  var wallet = {{ app.user.wallet }}
  var deliveryPrice = $('input[name="delivery-type-checkbox"]:checked').data('price');
  if(!deliveryPrice){deliveryPrice = 0;}
  $('#summary').text('$'+(summary+deliveryPrice).toFixed(2));;
  
  $('input[name="summary"]').val(summary+deliveryPrice)
  if(wallet < summary+deliveryPrice) { $('input[name="payment-method"][value="My wallet"]').attr("disabled",true); }
  else { $('input[name="payment-method"][value="My wallet"]').attr("disabled",false); }
}

// Delivery type action
$('input[name="delivery-type-checkbox"]').change(function() {
  var deliveryId = $(this).val();
  var deliveryType = $(this).data('type');
  var deliveryLocation = $(this).data('location');
  $('#final_location_place').removeClass('d-none');
  if(deliveryId=='personal_pickup')
  {
    console.log(deliveryLocation);
    $('#map').empty();
    $('#map').css({
      'height': '0px',
    });
    $('#order_product_form_final_location').attr('readonly', true);
    $('#order_product_form_final_location').val(deliveryLocation);
    $('label[for=order_product_form_final_location]').text('Pick up the product here');
  }
  else if(deliveryId=='parcel_locker')
  {
    $('#order_product_form_final_location').attr('readonly', true);
    $('#order_product_form_final_location').val('');
    $('label[for=order_product_form_final_location]').text('Choose parcel locker');

    createMap();
  }
  else if(deliveryId=='courier')
  {
    $('#map').empty();
    $('#map').css({
      'height': '0px',
    });
    $('#order_product_form_final_location').attr('readonly', false);
    $('#order_product_form_final_location').val($('#order_product_form_address').val());
    $('label[for=order_product_form_final_location]').text('Enter the delivery address ');
  }
});
var parcel_locker_choosed;

// Insert parcel-locker position in location
$(document).on("click", ".choose-parcel-locker", function() {
  $('#order_product_form_final_location').val(parcel_locker_choosed);
});
function createMap()
{
  // Map
  $('#map').css({
    'top': '0',
    'bottom': '0',
    'height': '400px',
    'width': '100%'
  });
  
  const key = 'dWCVxevJpUtedw46MjwC';
  const source = new ol.source.TileJSON({
    url: `https://api.maptiler.com/maps/streets-v2/tiles.json?key=${key}`,
    tileSize: 512,
    crossOrigin: 'anonymous'
  });

  const attribution = new ol.control.Attribution({
    collapsible: false,
  });

  const map = new ol.Map({
    layers: [
      new ol.layer.Tile({
        source: source
      })
    ],
    target: 'map',
    view: new ol.View({
      constrainResolution: true,
      center: ol.proj.fromLonLat([16.62662018, 52.2125578]),
      zoom: 5
    })
  });

  const Airports = new ol.layer.Vector({
      source: new ol.source.Vector({
          url: 'https://api.maptiler.com/data/9874a5e8-c0f7-4a7f-989a-c5f44fd25e26/features.json?key=dWCVxevJpUtedw46MjwC',
          format: new ol.format.GeoJSON(),
      })
  })
  map.addLayer(Airports);

  var container = $('#popup');
  var content = $('#popup-content');
  var content_element = $('#popup-content');

  // PopUp
  var overlaydet = new ol.Overlay({
    element: document.getElementById('popup'),
    positioning: 'bottom-center',
  });
  map.addOverlay(overlaydet);

  map.on('click', function(evt){
    $('#popup-content').empty();
    var feature1=map.forEachFeatureAtPixel(evt.pixel,
      function(feature1){
        return feature1;
      })
      if(feature1){
        const coord = feature1.getGeometry().getCoordinates();
        const name = feature1.get('name');
        var content = '<h6>' + name + '</h6>';
        parcel_locker_choosed = name;

        overlaydet.setPosition(coord);
        $('#popup-content').html(content + '<button class="choose-parcel-locker" >Choose</button>');
      }
  })
}



</script>
{% endblock %}

{% endblock %}
