{% extends 'base.html.twig' %}

{% block title %}Hello BuyNowController!{% endblock %}

{% block body %}
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v7.2.2/ol.css">
<script src="https://cdn.jsdelivr.net/npm/ol@v7.2.2/dist/ol.js"></script>
<style>
#map {

    top: 0;
    bottom: 0;
    height: 400px;
    width: 100%;
}
</style>



<div class="container">
  <div class="row">
    <div class="col">
    {{ form_start(OrderProductFormType) }}
      {{ form_row(OrderProductFormType.name) }}
      {{ form_row(OrderProductFormType.last_name) }}
      {{ form_row(OrderProductFormType.email) }}
      {{ form_row(OrderProductFormType.phone_number) }}
      {{ form_row(OrderProductFormType.address) }}
      {{ form_row(OrderProductFormType.comment) }}
      {# {% for productAndQuantity in productAndQuantityArray %}
        <section class='deliveryFull' data-id='{{ delivery.id }}'>
          <input data-type='{{ delivery.type }}' data-location='{{ delivery.getPersonalPickup() }}' id="delivery-{{ delivery.id }}" class="form-check-input" type="radio" name="deliveryOption" value="{{ delivery.id }}">
          <label class="form-check-label" for="delivery-{{ delivery.id }}">
          {{ delivery.type }}
          {{ delivery.price }}
          {{ delivery.getPersonalPickup() }}
          </label>
        </section>
      {% endfor %} #}
      <section id='parcelLockerSection'>
      <div id='map'></div>
      <div id='popup'>
        <div id='popup-content'></div>
      </div>
      </section>
      
  </div>

  <input type='hidden' name='summary' value=''>

  <div class="col">

      {% set count = 0 %}
          {% for offerInfo in allOfferInfo %}
          <input type='hidden' name='ownerId' value='{{ offerInfo.user.id }}'>
          
      		<img src="{{ asset('users_data/' ~ allOfferDirImages[count]['id'] ~ '/products/' ~ allOfferDirImages[count]['dir'] ~ '/' ~ allOfferDirImages[count]['images'][0] ) }}" class="card-img-top w-25" alt="...">
          Name  {{ offerInfo.name }}<br>
          Price  {{ offerInfo.price }}<br>
          Max quantity  {{ offerInfo.quantity }}<br>

          {{ productIdAndQuantityArray[count]['product_id'] }}
          <input name='quantity[]' class='quantity-input' type='number' data-display='{{ offerInfo.id }}' data-price='{{ offerInfo.price }}' value="{{ productIdAndQuantityArray[count]['quantity'] }}"
                 max="{{ offerInfo.quantity }}" min=1>
          <div class='total-display' data-id='{{ offerInfo.id }}'>Price {{ offerInfo.price }}</div><br>
          <input name='id-and-quantity[]' type='hidden' data-id={{ offerInfo.id }} data-quantity='1' value=''>

          <br>
        {% set count = count + 1 %}
        {% endfor %}
        {% set count = 0 %}
        {% for delivery in avalibleDelivery %}
          <label><input type="radio" class='delivery-type-checkbox' name="delivery-type-checkbox" value="{{ delivery.type }}"  data-id='{{ count }}'
          {% if delivery.type == 'personal_pickup' %} data-price="0" data-location='{{delivery.personal_pickup}}'
          {% elseif delivery.type == 'parcel_locker' %} data-price="5" 
          {% elseif delivery.type == 'courier' %} data-price="10" 
          {% endif %}>
          {{ delivery.type }} {{ delivery.personal_pickup }}<div class='delivery-price' data-id='{{ count }}'></div></label>
          <br>
          {% set count = count + 1 %}
        {% endfor %}    
          <div id='final_location_place' class='d-none'>
          {{ form_widget(OrderProductFormType.final_location)}}
          </div>
        Summary: <div id='summary'></div>
    </div>
  </div>
</div>
{{ form_row(OrderProductFormType.submit) }}
{{ form_end(OrderProductFormType) }}
{% block javascripts %}
<script type="text/javascript">
$(document).ready()
{
  updateTotal();
  displayDeliveryPrice();
}

$('.quantity-input').on('change', function() 
{
  updateTotal();

});
$('input[name="delivery-type-checkbox"]').on('change', function() 
{
   updateTotal();
});
function displayDeliveryPrice() {
    
  $('.delivery-type-checkbox').each(function(){
  var price = $(this).data('price');
  var id = $(this).data('id');
  $('.delivery-price[data-id='+id+']').text(price+'$');
})
}

function updateTotal() {
  var summary = 0;
  $('.quantity-input').each(function() {
    var displayId = $(this).data('display');
    var quantity = $(this).val();
    var price = $(this).data('price');
    var total = (quantity * price);
$('input[name="id-and-quantity[]"][data-id="'+displayId+'"]').val(displayId+':'+quantity);

    $('.total-display[data-id='+displayId+']').text('$' + (quantity * price).toFixed(2));
    summary = total + summary;
    
  });
  var deliveryPrice = $('input[name="delivery-type-checkbox"]:checked').data('price');
  if(!deliveryPrice){deliveryPrice = 0;}
      $('#summary').text(summary+deliveryPrice+'$');
      $('input[name="summary"]').val(summary+deliveryPrice);
}

$('input[name="delivery-type-checkbox"]').change(function() {
  var deliveryId = $(this).val();
  var deliveryType = $(this).data('type');
  var deliveryLocation = $(this).data('location');
  $('#final_location_place').removeClass('d-none');
  if(deliveryId=='personal_pickup')
  {
    console.log('a');
    console.log(deliveryLocation);
    $('#map').empty();
    $('#order_product_form_final_location').attr('readonly', true);
    $('#order_product_form_final_location').val(deliveryLocation);
    $('label[for=order_product_form_final_location]').text('Pick up the product here');
  }
  else if(deliveryId=='parcel_locker')
  {
    console.log(11);
    $('#order_product_form_final_location').attr('readonly', true);
    $('#order_product_form_final_location').val('');
    $('label[for=order_product_form_final_location]').text('Choose parcel locker');

    console.log('b');
    createMap();
  }
  else if(deliveryId=='courier')
  {
    console.log('c');
    $('#map').empty();
    $('#order_product_form_final_location').attr('readonly', false);
    $('#order_product_form_final_location').val($('#order_product_form_address').val());
    $('label[for=order_product_form_final_location]').text('Enter the delivery address ');

  }
});
var parcel_locker_choosed;
function createMap()
{
  // Map
  const key = 'dWCVxevJpUtedw46MjwC';
  const source = new ol.source.TileJSON({
    url: `https://api.maptiler.com/maps/streets-v2/tiles.json?key=${key}`,
    tileSize: 512,
    crossOrigin: 'anonymous'
  });

  const attribution = new ol.control.Attribution({
    collapsible: false,
  });

  const map = new ol.Map({
    layers: [
      new ol.layer.Tile({
        source: source
      })
    ],
    target: 'map',
    view: new ol.View({
      constrainResolution: true,
      center: ol.proj.fromLonLat([16.62662018, 52.2125578]),
      zoom: 5
    })
  });

  const Airports = new ol.layer.Vector({
      source: new ol.source.Vector({
          url: 'https://api.maptiler.com/data/9874a5e8-c0f7-4a7f-989a-c5f44fd25e26/features.json?key=dWCVxevJpUtedw46MjwC',
          format: new ol.format.GeoJSON(),
      })
  })
  map.addLayer(Airports);

  var container = $('#popup');
  var content = $('#popup-content');
  var content_element = $('#popup-content');

  // PopUp
  var overlaydet = new ol.Overlay({
    element: document.getElementById('popup'),
    positioning: 'bottom-center',
  });
  map.addOverlay(overlaydet);

  map.on('click', function(evt){
    $('#popup-content').empty();
    var feature1=map.forEachFeatureAtPixel(evt.pixel,
      function(feature1){
        return feature1;
      })
      if(feature1){
        const coord = feature1.getGeometry().getCoordinates();
        const name = feature1.get('name');
        var content = '<h6>' + name + '</h6>';
        parcel_locker_choosed = name;

        overlaydet.setPosition(coord);
        $('#popup-content').html(content + '<button class="choose-parcel-locker" >Choose</button>');
      }
  })
}

$(document).on("click", ".choose-parcel-locker", function() {
  $('#order_product_form_final_location').val(parcel_locker_choosed);
});

</script>
{% endblock %}

{% endblock %}
