{% extends 'base.html.twig' %}

{% block body %}

<div class="slider">
	<div>
		<img src="{{ asset('tools/plus.png') }}">
	</div>
	<div>
		<img src="{{ asset('tools/avatar.jpg') }}">
	</div>
	
</div>

<div class='container d-inline-block text-center bg-primary'>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
	  		<img src="{{ asset('tools/avatar.jpg') }}">
	  		<img src="{{ asset('tools/avatar.jpg') }}">
	  		<img src="{{ asset('tools/avatar.jpg') }}">

    </div>
    <div class="carousel-item">
	
	  		<img src="{{ asset('tools/avatar.jpg') }}">
	  		<img src="{{ asset('tools/avatar.jpg') }}">

    </div>
    <div class="carousel-item">
	
	  		<img src="{{ asset('tools/plus.png') }}">
			<img src="{{ asset('tools/avatar.jpg') }}">

    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>


{% block javascripts %}
	<script type="text/javascript">

	</script>
{% endblock %}{% endblock %}
